@page
@model ElectronicQueue.WebServer.Views.Home.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Электронная очередь</title>
</head>
<body>
<div>
    <h1>Это домашняя страница сайта электронной очереди</h1>
    <a href="/Queues">Очереди</a>
</div>
</body>
</html>